<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ABOUT US</title>
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wrap">
        <header>Our Design For DELL</header>
        <div id="content" class="content">
            <div class="content_box">
                <div class="content_style">
                    <section>
                        <h2>About Us</h2>
                        <img src="../img/About%20Us.jpg" width="100%">
                        <p>
                            Dell Inc. (stylized as DELL) is a multinational computer
                            <br/>technology company based in Round Rock, Texas and, along
                            <br/>with Dell EMC, is a subsidiary of Dell
                            <br/> Technologies, one of the largest technology companies in the world with
                            <br/> 138,000 employees.Dell manufactures,
                            <br/>sells, repairs, and supports personal computers (PCs), servers,
                            <br/> data storage devices, network switches, computer
                            <br/> software, computer peripherals, high-definition televisions, cameras,
                            <br/> printers, and electronics built by other manufacturers.
                            <br/>The company is well known for its innovations in supply chain management
                            <br/> and e-commerce, particularly its direct-sales
                            <br/> model and its "build-to-order" or "configure to order" approach to
                            <br/>manufacturing—delivering individual PCs configured to customer specifications.
                        </p>
                    </section>
                </div>
            </div>
            <div id="menulist" class="menu_style">
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../template/Desktop.html">Desktop</a></li>
                    <li><a href="../template/Laptop.html">Laptop</a></li>
                    <li><a href="../template/AboutUs.html" class="active">About Us</a></li>
                    <li><a href="../template/ContactUs.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class='footer'></div>
        <footer>Copyright © Jiaqi Wang 2017</footer>
    </div>
</body>

</html>