*{
	margin: 0;
	padding: 0;
}
body,html 	{
	height: 100%;
}
.wrap{
	height: 100%;
	width: 100%;
	background: #353434;
	color: #fff;
}
.beer_box{
    text-align: center;
    width: 140px;
    height: 598px;
    position: relative;
    margin: 0 auto;
    border-radius: 40px;
    overflow: hidden;
    
}
.beer_img{
	width: 100%;
	height: 100%;
}
.material_box{
	background: red;
}