<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div class="wrap">
        <a href="../index.html" class="backIndex">&lt;</a>
        <div class="page">
            <div class="container">
                <div class="lm_con_l">
                    <dl>
                        <dt>
                            <div class="lm_map">MAP</div>
                        </dt>
                        <dd>
                            <ul>
                                <li>1. Lorem ipsum dolor sit amet, consec</li>
                                <li>2. Lorem ipsum dolor sit amet, consec</li>
                                <li>3. Lorem ipsum dolor sit amet, consec</li>
                                <li>4. Lorem ipsum dolor sit amet, consec</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="lm_con_r">
                    <div class="page_article">
                        <h2>Breakfast</h2>
                        <p>
                            Yum cha is a Cantonese-style morning or afternoon tea that includes the eating of dim sum and other baked goods, which is one of the most important parts of the traditional culture of Guangdong. When you’re in Guangzhou, be sure to make it a point to stop in at the local tea houses regularly for yum cha. Reminiscent of British tea (linktk), it serves the same purpose and will, therefore, help ensure you can keep your energy up throughout a day filled with sightseeing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>