body {
    font-family: "Microsoft Yahei";
}

.wrap {
    position: absolute;

    width: 100%;
    height: 100%;
}

.con {
    position: relative;

    width: 100%;
    height: 100%;
}

.bg {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn {
    display: inline-block;

    border-radius: 4px;
    width: 160px;
    height: 50px;

    font-size: 20px;
    line-height: 50px;
    text-align: center;

    color: #fff;
    background: #ccc;
    box-shadow: 1px 1px 5px 1px #434343;
}

.btn:active {
    box-shadow: none;
}

.btn-start {
    background: #ff5722;
}

.btn-set {
    background: #009688;
}

.btn-ans {
    background: #4CAF50;
}



/*操作区 */

.action {
    background: rgb(244, 170, 195);
}

.action-tools {
    position: absolute;
    bottom: 20px;

    width: 100%;

    text-align: center;
    /*background: #000;*/
}

.action-tools .btn {
    margin-bottom: 10px;
}



.action-title {
    padding-left: 20px;
    height: 30px;

    font-size: 16px;
    line-height: 30px;
    text-align: left;

    color: #fff;
}

.action-time {
    height: 60px;

    text-align: center;
}

.action-time span {
    font-size: 20px;
}

.action-q {
    text-align: center;
}

.action-q-msg img {
    width: 100%;
    height: 230px;
}

.action-question {
    position: relative;

    margin: 0 auto;
    width: 98%;
    height: 230px;

    font-size: 20px;
    line-height: 50px;

    color: #fff;
    background: #000;

    box-shadow: 1px 1px 5px 1px #434343;
}

.action-q-num {
    position: absolute;
    top: 4px;
    left: 4px;

    height: 30px;
    /*width: 30px;*/
    line-height: 30px;
    /*background: yellow;*/
}

.action-res {
    font-size: 16px;
    max-height: 200px;
    overflow: auto;
}

.action-res span {
    display: inline-block;
    margin: 10px
}


/*显示区*/

.status {
    width: 98%;
    margin: 0 auto;
    height: 80px;
    text-align: center;
    color: #fff;
    background: #000;
    box-shadow: 1px 1px 5px 1px #434343;
    line-height: 80px;
    font-size: 18px;
}

.status-v {
    color: #4CAF50;
    font-size: 36px;
    font-weight: 600;
}

.status-x {
    color: #e32c1f;
    font-size: 36px;
    font-weight: 600;
}

.view {
    position: relative;
    margin: 0 auto;
    border-radius: 2px;
    width: 810px;
    height: 810px;
    background: #000;
    border-radius: 50%;
    border: 1px solid #fff;
}

.cb {
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 50%;
}

.cb1 {
    position: absolute;
    width: 270px;
    height: 270px;
}

.cb1-1 {
    top: 88px;
    left: 72px;
}

.cb1-2 {
    top: 88px;
    right: 72px;
}

.cb1-3 {
    top: 50%;
    left: 50%;
    margin-top: -135px;
    margin-left: -135px;
}

.cb1-4 {
    bottom: 88px;
    left: 72px;
}

.cb1-5 {
    right: 88px;
    bottom: 72px;
}

.cb2 {
    display: block;
    margin: 0 auto;
    width: 54px;
    height: 54px;
    font-size: 18px;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
}

.cb2:hover {
    box-sizing: 1px;
    background: #ddd;
}

.cb2:active {
    color: #fff;
    background: #fff;
}

.active {
    color: #fff;
    background: #000;
}

.active:hover {
    color: #fff;
    background: #000;
}