<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/106324/46758/598bd957f629d80594bb9aa3.css' rel='stylesheet' type='text/css' />
    <script>

    </script>
</head>

<body>
    <div class="wrap">
        <a href="../index.html?play=no#landmarks" class="backIndex">&lt;</a>
        <div class="page">
            <div class="container">
                <div class="rs_header" id="rs_header">
                </div>
                <div class="page_article">
                    <h2 id="l_title">Yuexiu Park</h2>
                    <p id="l_desc">
                        Yuexiu Park is the largest park in downtown Guangzhou. Covering an area of 860,000 square meters (212.5 acres), it is made up of three artificial lakes and seven hills of Yuexiu Mountain; hence the name. It is a perfect combination of cultural relics and ecological tourism, reputed for its pretty water and hills as well as cultural relics. The main places of interest include the stone sculpture of the Five Rams, Zhenhai Tower, the site of the Ming Dynasty City Wall, and Square Cannon Site.
                    </p>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="../static/data/landmarks_data.js"></script>
    <script src="../static/js/index.js"></script>
    <script>

    lInit()
    </script>
</body>

</html>