<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/106324/46758/598bd957f629d80594bb9aa3.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="wrap">
        <a href="../index.html?play=no" class="backIndex">&lt;</a>
        <div class="page">
            <div class="container">
                <div class="rs_header" id="rs_header">
                </div>
                <div class="page_article">
                    <h2>Canton Tower</h2>
                    <p>
                        As the landmark of Guangzhou, the Canton Tower (Guangzhou Tower) lies in Haizhu District, at the south bank of the Pearl River, facing Haixinsha Island to the north. With a height of 1,968 feet (600 meters), it is the highest TV tower in China and the third highest in the world. The tower has been a must-see scenic spot in Guangzhou. From the top, visitors have a birds-eye view of the whole city. Inside the tower are wonderful entertainment items, romantic restaurants with delicious food and several fine lookout platforms for shooting photos, some of them holding many top world records.
                    </p>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>