<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/106324/46758/598bd957f629d80594bb9aa3.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="wrap">
        <a href="../index.html?play=no" class="backIndex">&lt;</a>
        <div class="page">
            <div class="container">
                <div class="rs_header" id="rs_header">
                </div>
                <div class="page_article">
                    <h2>Sun Yat-sen Memorial Hall</h2>
                    <p>
                        The Sun Yat-sen Memorial Hall, a grand octagon building of typical Chinese architectural style, looks brand new because of reconstruction in 1998. The masterpiece of architecture history is created with a span of 71 meters (about 78 yards) without a pillar but significant outlooks and delicate interior designs. As an important place for conferences and performances, it can hold thousands of people with sound equipment. In the hall there is also a display gallery showing pictures and letters of Sun Yat-sen.
                    </p>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>