<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/106324/46758/598bd957f629d80594bb9aa3.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="wrap">
        <a href="../index.html?play=no" class="backIndex">&lt;</a>
        <div class="page">
            <div class="container">
                <div class="rs_header" id="rs_header">
                </div>
                <div class="page_article">
                    <h2>Shamian Island</h2>
                    <p>
                        Shamian Island, previous known as Zhongliusha or Shicuizhou, is an elliptic sandbar in the Liwan District of Guangzhou City, Guangdong Province. The island's name literally means "sandy surface" in Chinese. Surrounded by water, it is just like a giant ship mooring alongside the wharf. Get further and one will find that the island is carefully planned. Three east-west avenues, Shamian Avenue, Shamian North Avenue and the South Avenue, and five north-south streets, Shamian Street 1 to the Street 5 divide the whole area into 12 parts, with various buildings, namely White Swan Hotel, Shamian Hotel, and Poland Consulate in Guangzhou, scattered around.
                    </p>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>