<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/106324/46758/598bd957f629d80594bb9aa3.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="wrap">
        <a href="../index.html?play=no" class="backIndex">&lt;</a>
        <div class="page">
            <div class="container">
                <div class="rs_header" id="rs_header">
                </div>
                <div class="page_article">
                    <h2>Mall of the World</h2>
                    <p>
                       Huacheng Hui or Mall of the World is the shopping, dining and entertainment complex under the Huacheng Square in Guangzhou's Zhujiang New Town. This is a typically large-scale Chinese urban redevelopment. It is a type of oasis in the midst of the skyscrapers that surround it, and offers a very pleasant stroll through this dense city. At the river end there are the very new and ultra modern Guangdong Museum, Opera House and Public Library and many, many blocks north you emerge near Tianhehan. On either side of this elliptical park are looming hotels and modern Finance centers.
                        
                    </p>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>