<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/106324/46758/598bd957f629d80594bb9aa3.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="wrap">
        <a href="../index.html?play=no" class="backIndex">&lt;</a>
        <div class="page">
            <div class="container">
                <div class="rs_header" id="rs_header">
                </div>
                <div class="page_article">
                    <h2>Pearl River</h2>
                    <p>
                        The Pearl River in Guangzhou has a length of more than 2,000 kilometers (about 1243 miles) and is the third longest river in China. It is composed of four separate river systems: the Xi River (originating from the Yunnan-Guizhou Plateau), the Liuxi River (originating from Conghua City in Guangdong Province), the Bei River, and the Dong River (both originating from Jiangxi Province). These four rivers join up in Guangzhou, flow for about 70 kilometers, and then pour into the South Sea. The section flowing through Guangzhou City is the 'Pearl River' that most people are familiar with. In ancient times, it was called 'The Pearl Sea' for its 2000 meters-wide (about 2187 yards) channel. Later, the channel gradually shrunk, and now it is only 180 meters wide (about 197 yards). Its name is said to derive from a huge boulder in the river bed. This rock, with the name of 'Sea Pearl', is so round and smooth that it looks like a large, shining pearl.
                    </p>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>