<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/106324/46758/598bd957f629d80594bb9aa3.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="wrap">
        <a href="../index.html?play=no" class="backIndex">&lt;</a>
        <div class="page">
            <div class="container">
                <div class="rs_header" id="rs_header">
                </div>
                <div class="page_article">
                    <h2>Sacred Heart Cathedral</h2>
                    <p>
                        Sacred Heart Cathedral in Guangzhou, also known as the Cathedral of the Sacred Heart of Jesus, or Shishi Catholic Church, is regarded as the ‘Notre Dame of East Asian’. Located at Yide Road near the Haizhu Square in the city center, this 130-year-old Roman Catholic cathedral is a holy and peaceful site in the bustling urban area. The cathedral was designed by two French architects, and completed by Chinese craftsmen within 25 years from 1863 to 1888. With a gross area of 3,300 square yards (2,754 square meters), it is the biggest in Roman Catholic Archdiocese of Guangzhou and one of the grandest double steeples Gothic architectures in China. It is the largest granite Catholic structure in Southeast Asia, and one of only four all-granite Gothic churches in the world.
                    </p>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>