<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/106324/46758/598bd957f629d80594bb9aa3.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="wrap">
        <a href="../index.html?play=no" class="backIndex">&lt;</a>
        <div class="page">
            <div class="container">
                <div class="rs_header" id="rs_header">
                </div>
                <div class="page_article">
                    <h2>Baiyun Mountain</h2>
                    <p>
                        From ancient times, Baiyun Mountain has been one of the most famous spots of natural beauty in Guangzhou, and it's still known as the First Spectacular Scene of the city. Every time the sun shines after the rain, and through late spring, a wreath of airy clouds circles the mountains. This is how White Cloud Mountain has won its name, and its reputation as a marvelous spectacle of nature. The fierce differentiation of rocks, and the different ways in which erosion has affected them, has caused it a crisscross network of gullies. So its relative height is now about 100 meters (109 yards). The quiet and secluded environment of the valley has made it a haven of peace from the big city.
                    </p>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>