<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
        <link href='http://cdn.webfont.youziku.com/webfonts/nomal/106324/46758/598bd957f629d80594bb9aa3.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="wrap">
        <a href="../index.html?play=no#resturants" class="backIndex">&lt;</a>
        <div class="page">
            <div class="container">
                <div class="lm_con_l">
                    <dl>
                        <dt>
                            <div class="lm_map" id="googleMap"><img src="../static/img/loading.gif"></div>
                        </dt>
                        <dd>
                            <ul>
                                <li>Yi Fen Wu, No.208, Tianhe Road, Tianhe District </li>
                                <li>Guangzhou Wumizhou, 43Linle Road, Tianhe District</li>
                                <li>Chuanguo Yanyi, No.140-148, Tiyu Road, Tianhe District</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="lm_con_r">
                    <div class="page_article">
                        <h2>Lanch & Dinner</h2>
                        <p>
                            Guangzhou delicacies are the main representatives of Yue Cai (Cantonese Cuisine), which also includes Chaozhou dishes and Dongjiang dishes and enjoys great popularity all over the country. This kind of cuisine uses a wide range of ingredients from the sky, the earth, and the water. They also use seasonings sparingly. Compared with other Chinese cuisines, these local dishes use few thick spicy dressings in order to keep from masking the original taste of the food.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="../static/js/index.js"></script>
    <script>
    function loadScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBzE9xAESye6Kde-3hT-6B90nfwUkcS8Yw&sensor=false&callback=initialize";
        document.body.appendChild(script);
    }

    function initialize() {
        var mapProp = {
            center: new google.maps.LatLng(23.537428930395738,113.58313144871829),
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }
    window.onload = loadScript;
    </script>
</body>

</html>